In [22]:
#print statment is use to display something
print("hello world welcome to python")

hello world welcome to python

In [3]:
print('hello world welcome to python')

hello world welcome to python

In [6]:
print("hello world \n welcome to python")  #break line using \n

hello world
 welcome to python

In [21]:
print("he\tllo world welcome to python") #adding extra space in words   comments use in python

he	llo world welcome to python

In [8]:
x="hello world welcome to python"
print(x)

hello world welcome to python

In [10]:
print(x[0:5])

hello

In [11]:
print(x[:])

hello world welcome to python

In [12]:
print(x[:-1])

hello world welcome to pytho

In [14]:
print(x[:12])

hello world

In [20]:
x=2
y=4 ; z=x+y ;   a=x*y   # multiple statment in one line
b=x**y
c=x-y
d=x/y
f=x%y
print(z)
print(a)
print(b)
print(c)
print(d)
print(f)

6
8
16
-2
0.5
2

Now 
your task
print your name Roll number and your address?
print your name Roll number in different lines ? (hints   use \n)
print 2 table  using multplication
your output will be 
2*1=2
2*2=4
.....
.....
.....
2*10=20

assign variables in python

In [23]:
x=10
print(x)

10

In [24]:
x=int(10)

In [25]:
print(x)

10

In [26]:
type(x)

int

In [27]:
x=float(2)
print(x)
type(x)

2.0

float

Many Values to Multiple Variables

In [28]:
x,y,z=2,3,4
print(x,y,z)

2 3 4

In [30]:
x,y,z="hi",143,"how are you"
print(x,y,z)

hi 143 how are you

One Value to Multiple Variables

In [37]:
x=y=z=23
print(x,y,z)

23 23 23

Deleting Variables

In [38]:
del x
print(x)

NameError: name 'x' is not defined

In [39]:
x=34
print(x)

34