Essential basic functionality

read first or last row  of dataframe or Series

In [1]:
import pandas as pd
import numpy as np

In [2]:
#using dict of series to create a dataframe
S1=pd.Series(np.random.rand(4),index=['a','b','c','d'])
S2=pd.Series(np.random.rand(4),index=['a','b','c','d'])

In [3]:
data={'C1':S1,'C2':S2}
dataframe=pd.DataFrame(data)
dataframe

         C1        C2
a  0.215432  0.474185
b  0.071918  0.165420
c  0.336032  0.838273
d  0.782996  0.186247

In [4]:
dataframe.head(2)

         C1        C2
a  0.215432  0.474185
b  0.071918  0.165420

In [5]:
dataframe.tail(2)

         C1        C2
c  0.336032  0.838273
d  0.782996  0.186247

In [6]:
S1.head()

a    0.215432
b    0.071918
c    0.336032
d    0.782996
dtype: float64

In [7]:
S1.head(2)

a    0.215432
b    0.071918
dtype: float64

In [8]:
S2.tail(1)

d    0.186247
dtype: float64

In [9]:
S2[:2]

a    0.474185
b    0.165420
dtype: float64

In [11]:
S2[0:3:1]

a    0.474185
b    0.165420
c    0.838273
dtype: float64

In [12]:
S2[0:3:2]

a    0.474185
c    0.838273
dtype: float64

In [14]:
S2[0:4]

a    0.474185
b    0.165420
c    0.838273
d    0.186247
dtype: float64

In [16]:
S1.to_numpy()

array([0.21543228, 0.07191824, 0.33603217, 0.78299615])

In [18]:
df=dataframe.copy()

In [19]:
df

         C1        C2
a  0.215432  0.474185
b  0.071918  0.165420
c  0.336032  0.838273
d  0.782996  0.186247

In [20]:
df.combine_first(dataframe)

         C1        C2
a  0.215432  0.474185
b  0.071918  0.165420
c  0.336032  0.838273
d  0.782996  0.186247

In [21]:
df.mean()

C1    0.351595
C2    0.416031
dtype: float64

In [32]:
df.max()

C1    0.782996
C2    0.838273
dtype: float64

In [31]:
df.min()

C1    0.071918
C2    0.165420
dtype: float64

In [25]:
df.describe()

             C1        C2
count  4.000000  4.000000
mean   0.351595  0.416031
std    0.307196  0.314789
min    0.071918  0.165420
25%    0.179554  0.181040
50%    0.275732  0.330216
75%    0.447773  0.565207
max    0.782996  0.838273

In [30]:
S1.describe()

count    4.000000
mean     0.351595
std      0.307196
min      0.071918
25%      0.179554
50%      0.275732
75%      0.447773
max      0.782996
dtype: float64

In [33]:
S1.value_counts()

0.782996    1
0.215432    1
0.071918    1
0.336032    1
dtype: int64

Aligning objects with each other with align

In [34]:
S1.align(S2)

(a    0.215432
 b    0.071918
 c    0.336032
 d    0.782996
 dtype: float64,
 a    0.474185
 b    0.165420
 c    0.838273
 d    0.186247
 dtype: float64)

In [35]:
S1.align(S2,join='inner')

(a    0.215432
 b    0.071918
 c    0.336032
 d    0.782996
 dtype: float64,
 a    0.474185
 b    0.165420
 c    0.838273
 d    0.186247
 dtype: float64)

In [36]:
S1.align(S2,join='right')

(a    0.215432
 b    0.071918
 c    0.336032
 d    0.782996
 dtype: float64,
 a    0.474185
 b    0.165420
 c    0.838273
 d    0.186247
 dtype: float64)

In [37]:
S1.align(S2,join='left')

(a    0.215432
 b    0.071918
 c    0.336032
 d    0.782996
 dtype: float64,
 a    0.474185
 b    0.165420
 c    0.838273
 d    0.186247
 dtype: float64)

In [38]:
S1.align(S2,join='outer')

(a    0.215432
 b    0.071918
 c    0.336032
 d    0.782996
 dtype: float64,
 a    0.474185
 b    0.165420
 c    0.838273
 d    0.186247
 dtype: float64)

In [39]:
for C in dataframe:
    print(C)

C1
C2