In [1]:
import pandas as pd
import numpy as np

DataFrame is a 2-dimensional labeled data structure with 
columns of potentially different types.

In [2]:
#using dict of series to create a dataframe
S1=pd.Series(np.random.rand(4),index=['a','b','c','d'])
S2=pd.Series(np.random.rand(4),index=['a','b','c','d'])

In [3]:
S1

a    0.801095
b    0.955811
c    0.573529
d    0.972847
dtype: float64

In [4]:
S2

a    0.828899
b    0.703604
c    0.689111
d    0.988134
dtype: float64

In [7]:
data={'C1':S1,'C2':S2}
dataframe=pd.DataFrame(data)
dataframe

         C1        C2
a  0.801095  0.828899
b  0.955811  0.703604
c  0.573529  0.689111
d  0.972847  0.988134

In [9]:
#using dict of list
data={'C1':[1,2,3,4],'C2':[2,3,1,4]}
df=pd.DataFrame(data,index=['a','b','c','d'])
df

   C1  C2
a   1   2
b   2   3
c   3   1
d   4   4

In [15]:
#using list of list 
data=[[1,2,3,4],[3,4,5,6],[1,2,3,4],[3,4,5,6]]
index=['a','b','c','d']
df=pd.DataFrame(data,index)
df

   0  1  2  3
a  1  2  3  4
b  3  4  5  6
c  1  2  3  4
d  3  4  5  6

In [22]:
#using list of dict
data=[{'C1':1,'C2':43},{'C2':2}]
df=pd.DataFrame(data,index=['a','b'])
df

    C1  C2
a  1.0  43
b  NaN   2

#using  csv file
df=pd.read_csv("path with extension .csv")
#using json file
df=pd.read_json("path with extension .json")
#using excel file
df=pd.read_excel("path with extension .xls")
#using html file
df=pd.read_html("path with extension .html")